/* Style for header and hamburger menu */
header {
  background-color: #333;
  height: 70px;
}

.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  margin: 23px;
}

.hamburger span {
  display: block;
  background-color: white;
  height: 3px;
  border-radius: 5px;
}

/* Style for side navigation */
.side-nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  height: 100%;
  width: 0;
  overflow-x: hidden;
  padding-top: 60px;
  transition: all 0.3s ease-in-out;
}

.side-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.side-nav li {
  display: inline-block;
  margin-bottom: 10px;
}

.side-nav a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 10px;
}

/* Style for container and search form */
.container-fluid {
  margin-top: 20px;
}

form {
  margin-bottom: 20px;
}

.col-lg-2,
.col-lg-3,
.col-lg-1 {
  margin-top: 10px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

button[type="submit1"] {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
}

button[type="submit1"]:hover {
  background-color: #555;
}

/* Style for table */
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

thead {
  background-color: #333;
  color: white;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f5f5f5;
}

/* Style for login modal */
.login-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
}

.login-register-container {
  display: flex;
  justify-content: space-between;
}

.login-register-container input[type="text"],
.login-register-container input[type="password"] {
  width: 45%;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.login-register-container button[type="submit"] {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
}